In [1]:
from ModelTools.Metric import Metric
from ModelTools._src import tabulate
import numpy as np

In [2]:
x = np.random.normal(size=100)
y = {
    'a':np.random.normal(size=100),
    'b':np.random.normal(size=100),
}

Metric(
    x,y
).data

              y Method      pred     resid
index
0      0.277311      a  0.324269 -0.046958
0      0.277311      b -1.039421  1.316731
1     -0.557565      a  0.013951 -0.571517
1     -0.557565      b  0.679010 -1.236576
2      0.629728      a -1.684934  2.314662
...         ...    ...       ...       ...
97     0.587645      b  0.649119 -0.061473
98    -0.479185      a  0.811531 -1.290716
98    -0.479185      b  0.791280 -1.270465
99    -0.138529      a  0.667471 -0.805999
99    -0.138529      b -0.055657 -0.082872

[200 rows x 4 columns]

In [3]:
Metric(
    x,y
).get_metric(style_metric=False,type='resid')

       Mean    Median        SD       IQR      Skew      Kurt
a  0.045183  0.106855  1.422165  1.825153 -0.052093  0.315909
b -0.085318 -0.129894  1.546837  2.145443  0.145655  0.073809

In [4]:
Metric(
    x,y
).get_metric(style_metric=False,type='eval')

,R2,MSE,MAE,MBE,MdAE,MAPE,MaxE,SAE,SAPE
a,-0.783715,2.024594,1.120806,-0.045183,0.906694,2.881314,4.389605,0.876578,9.486865
b,-1.114441,2.399983,1.231513,0.085318,1.025508,2.996661,3.977781,0.939872,6.503306

In [5]:
tabulate.tabulate(Metric(
    x,y
).get_metric(style_metric=False,type='eval'))

'-  ---------  -------  -------  ----------  --------  -------  -------  --------  -------\na  -0.783715  2.02459  1.12081  -0.0451825  0.906694  2.88131  4.3896   0.876578  9.48686\nb  -1.11444   2.39998  1.23151   0.085318   1.02551   2.99666  3.97778  0.939872  6.50331\n-  ---------  -------  -------  ----------  --------  -------  -------  --------  -------'