In [1]:
import sys 
sys.path.append('..')

import numpy as np
import pandas as pd
import altair as alt
from plotnine.data import mtcars,diamonds

from ModelTools.model.builder.cr_builder import CentralRegBuilder
diamonds.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

In [ ]:
# mod = CentralRegBuilder(cv_method='kfold',cv_split=5,cv_shuffle=True,cv_score='mse').get_model_cv(struct='poly_OLS')
# mod.fit(mtcars.loc[:,['mpg','wt']],mtcars.disp)

In [ ]:
from ModelTools.plot.basic_reg import basic_reg

basic_reg(data=diamonds,x='carat',y='price',formula='y~bs(x,df=3)',ci_level=0.99,reg_method='ols',qr_quantile=0.6)

In [9]:
x=diamonds.loc[:,['x','y','z']]
x

          x     y     z
0      3.95  3.98  2.43
1      3.89  3.84  2.31
2      4.05  4.07  2.31
3      4.20  4.23  2.63
4      4.34  4.35  2.75
...     ...   ...   ...
53935  5.75  5.76  3.50
53936  5.69  5.75  3.61
53937  5.66  5.68  3.56
53938  6.15  6.12  3.74
53939  5.83  5.87  3.64

[53940 rows x 3 columns]

In [13]:
from sklearn.preprocessing import PolynomialFeatures

m=PolynomialFeatures(interaction_only=True,degree=2).fit(x)
m.get_feature_names_out()

array(['1', 'x', 'y', 'z', 'x y', 'x z', 'y z'], dtype=object)